<div class="container">
    <h1>Inscription</h1>
    <div class="stepper-container">
        <div class="stepper-menu">
            <button class="rounded-btn" [class]="activeStepper === 1 ? 'active' : ''" (click)="switchStep(1)">1</button>
            <button class="rounded-btn" [class]="activeStepper === 2 ? 'active' : ''" (click)="switchStep(2)">2</button>
            <button class="rounded-btn" [class]="activeStepper === 3 ? 'active' : ''" (click)="switchStep(3)">3</button>
        </div>
        <div class="stepper">
            <ng-container *ngIf="activeStepper === 1">
                <span>Email</span>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" [(ngModel)]="user.email" matInput required>
                </mat-form-field>
                <span>Mot de passe</span>
                <mat-form-field appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input type="password" [(ngModel)]="user.password" matInput required>
                </mat-form-field>
                <span>Confirmer votre mot de passe</span>
                <mat-form-field appearance="outline">
                    <mat-label>Confirmer votre mot de passe</mat-label>
                    <input type="password" [(ngModel)]="confirmPassword" matInput required>
                </mat-form-field>
                <span>Pseudo</span>
                <mat-form-field appearance="outline">
                    <mat-label>Pseudo</mat-label>
                    <input type="text" [(ngModel)]="user.username" matInput required>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="activeStepper === 2">
                <p>Sélectionnez les plateformes que vous utilisez :</p>
                <div class="platforms">
                    <div class="item" [style.background-image]="'url('+ item.platform.imgUrl"
                        [class]="item.selected ? 'selected' : ''" *ngFor="let item of selectedPlateform"
                        (click)="selectPlatform(item)">
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="activeStepper === 3">
                <p>Renseignez les genres qui vous correspondent :</p>
                <div>
                    <mat-chip-list aria-label="Categories">
                        <mat-basic-chip *ngFor="let item of selectedGenres" [class]="item.selected ? 'selected' : ''"
                            (click)="selectGenre(item)">
                            {{item.genre.name}}</mat-basic-chip>
                    </mat-chip-list>
                </div>
            </ng-container>
            <div class="next-button" *ngIf="activeStepper !== 3">
                <button class="rounded-btn" (click)="nextStep()">
                    <mat-icon>
                        <span class="material-icons-round">
                            arrow_forward_ios
                        </span>
                    </mat-icon>
                </button>
            </div>
            <div class="finish-register" *ngIf="activeStepper === 3">
                <button mat-flat-button (click)="register()">Terminer mon inscription</button>
            </div>
        </div>
    </div>
</div>