home-page {
    .container {
        padding: 5%;
        position: relative;
        max-height: 70vh;
    }
    .main-title {
        width: 20%;
        h1 {
            font-size: 2.5rem;
        }
        .button {
            text-align: right;
        }
        button.translucid-btn {
            background-color: rgba(241, 241, 241, 0.226);
            height: 40px;
            width: 150px;
            border-radius: 10px;
            border: none;
            color: #ffffff;
            font-size: 1.3rem;
        }
        button.translucid-btn:hover {
            background-color: rgba(216, 216, 216, 0.226);
        }
    }

    .discover {
        position: relative;
        z-index: 7;
        margin-top: 10vh;
        width: 70%;
        .inline-preview {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            .banner-group {
                p {
                    text-align: center;
                    font-size: 1.2rem;
                }
            }
            .banner {
                height: 200px;
                width: 350px;
                background-color: aliceblue;
                border-radius: 20px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                transition: all 0.2s;
                position: relative;
                .notation {
                    position: absolute;
                    width: 70px;
                    height: 30px;
                    background-color: #ffffff;
                    color: #433459;
                    bottom: 0;
                    right: 0;
                    border-radius: 10px 0 10px 0;
                    padding: 5px;
                    text-align: right;
                    font-size: 1.1rem;
                }
            }
            .breaking-bad {
                background-image: url("https://www.themoviedb.org/t/p/original/wKHImjeHwVIiWJWFIJtWUKkA5QJ.jpg");
            }
            .spider-man {
                background-image: url("https://www.themoviedb.org/t/p/original/7snXgpmWghs6IDmpOCgZkW0X73A.jpg");
            }
            .naruto {
                background-image: url("https://www.themoviedb.org/t/p/original/c2yoZd3tOKofFgY6WvlH30AXGYM.jpg");
            }
            @media (min-width: 900px) {
                .banner:hover {
                    height: 220px;
                    width: 370px;
                    border: 2px solid #ffffff;
                    .notation {
                        width: 70px;
                        height: 30px;
                        border-radius: 10px 0 15px 0;
                    }
                }
            }
        }
    }
    .image-background {
        position: absolute;
        z-index: 1;
        top: 40px;
        right: 15%;
        height: 70vh;
        width: 700px;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.2s;
    }

    .right-pannel {
        z-index: 10;
        position: absolute;
        top: 10vh;
        right: 0;
        width: 100px;
        height: 80vh;
        background-color: rgba(241, 241, 241, 0.31);
        border-radius: 50px 0 0 50px;
        .column {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            height: 100%;
            .item {
                width: 70px;
                height: 70px;
                border-radius: 100px;
                background-color: transparent;
                background-size: contain;
            }
            .netflix {
                background-image: url("/assets/img/netflix.png");
            }
            .crunchy {
                background-image: url("/assets/img/crunchyroll.png");
            }
            .wakanim {
                background-image: url("/assets/img/wakanim.png");
            }
            .adn {
                background-image: url("/assets/img/adn.png");
            }
            .disney {
                background-image: url("/assets/img/disney.png");
            }
        }
    }
    .only-mobile {
        display: none;
    }

    @media screen and (min-width: 1600px) and (max-width: 2000px) {
        .image-background {
            right: 30%;
        }
        .discover {
            margin-top: 15vh;
            .inline-preview {
                .banner {
                    height: 250px;
                    width: 400px;
                }
            }
        }
    }

    @media screen and (min-width: 200px) and (max-width: 500px) {
        .right-pannel {
            display: none;
        }

        .main-title {
            width: 100%;
            h1 {
                font-size: 3rem;
                text-align: center;
            }
            .button {
                display: none;
            }
        }
        .image-background {
            display: none;
        }

        .discover {
            width: 100%;
            h2 {
                font-size: 1.3rem;
            }
            .inline-preview {
                overflow: auto;
                gap: 10px;
                align-items: baseline;
                .banner {
                    height: 180px;
                    width: 300px;
                }
            }
        }
        .only-mobile {
            display: block;
            .col-btn {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                button {
                    height: 50px;
                    width: 230px;
                    border-radius: 20px;
                    border: 1px solid #8115ee;
                    color: #ffffff;
                    background-color: transparent;
                }
                button.flat-button {
                    background-color: #8115ee;
                    border: 1px solid #8115ee;
                }
                button.flat-button:hover {
                    background-color: #6a12c2;
                }
                button.border-button:hover {
                    background-color: #332c3a;
                }
            }
        }
    }
}
